#js-article.container(role="main")
  header#js-article-header
    .hero
      img.flip(src="/#{current.path[0]}/thirtyaday-hero.png", alt="thirtyaday fitness screenshot", width="388", height="892")
    .description 
      h1 thirtyaday fitness
      p Fitness tracking, simplified.
      a(href="http://appstore.com/thirtyadayfitness", id="badge"): img(src="/#{current.path[0]}/app-store.png", alt="appstore badge", width="200", height="59")
  #js-article-body.alternate-rows  
    figure 
      img.flip(src="/#{current.path[0]}/no-equipment.png", alt="no equipment", width="282", height="282")
      figcaption
        h3 Equipment free
        p Choose from a list of workouts that can be done hassle free anytime anywhere.
    figure.flush-bottom
      img.flip(src="/#{current.path[0]}/stats.png", alt="stats", width="531", height="543")
      figcaption
        h3 Visualize your achievements.
        p Track your workouts by viewing your weekly stats on each exercise.
    figure
      img.flip(src="/#{current.path[0]}/checkmark.png", alt="checkmark", width="283", height="283")
      figcaption
        h3 Go at your own pace.
        p Easily customize how easy or hard you start. Repetitions are easily changed.
    figure.flush-top.flush-bottom.full-width
      img.flip(src="/#{current.path[0]}/sidebyside.png", alt="thirtyaday fitness screenshot", width="991", height="599")
    figure
      img.flip(src="/#{current.path[0]}/info.png", alt="stats", width="281", height="281")
      figcaption
        h3 Know How.
        p WikiHow links are provided for when you need to freshen up on proper technique.
    figure
      img.flip(src="/#{current.path[0]}/reminders.png", alt="reminders", width="596", height="500")
      figcaption
        h3 Never forget.
        p Set up as many different weekly reminders as you need. Mondays at 7am but Tuesdays at 9am, no problem.
  section
    h3 About...
    p Fitness. Simplified.
    p The human body is a remarkable thing. It can use itself to build strength, endurance, increase flexibility and burn fat through the use of Calisthenics exercises. No equipment is nesesary, and the exercises can be performed anywhere there is enough space to move in.
    p <em>thirtyaday fitness</em> is a minimalistic fitness tracker for Calisthenics. It follows a simple concept. Pick 3 exercises, do 30 repetitions a day then track it. All in an elegant clutter free interface. You'll start seeing you progress quickly and stay motivated. There are 12 exercises you can choose from like push ups, sit ups, squats, curl ups, lunges etc.
        
        
